{% extends "layout.njk" %}

{% set title = "Excluir" %}

{% block content %}
<h1 class="mt-5 text-center">
  {{ title }}
</h1>

<div class="col-md-6 mx-auto mb-5">
  <form id="formDeleteFood" action="/foods/delete" method="post">
    <h2>Deseja realmente excluir <span>"{{ food.name }}"</span>?</h2>
    <div class="mb-3">
      <input type="hidden" name="id" value="{{ food.id }}" >
    </div>
    <button type="submit" class="btn btn-primary" id="deleteFoodBtn">Excluir</button>
    <a href="/" class="btn btn-danger">Cancelar</a>
  </form>
</div>
{% endblock %}
